html,
body {
  margin: 0;
  height: 100%;
}

.wrapper {
  position: relative;
  margin: auto;
  padding: 0;
  max-width: 75vw;
}

.midground, .foreground {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin: 15vh 0 0 15vw;
  padding: 0;
  width: 35vw;
  height: 59vh;
}

body {
  background-color: rgba(0, 255, 0, 0.1);
}

.midground {
  background-color: hsla(225, 100%, 25%, 0.4);
}

.foreground {
  background-color: hsla(325, 50%, 50%, 0.6);
}

/* I learned about opacity and alpha in CSS. This can be added to HSL and RGB and the sytax looks like this: hsla(34, 100%, 50%, 0.1); or rgba(234, 45, 98, 0.33);. The alpha is a decimal number from 0 to 1, with 0 being completely transparent and 1 being completely opaque.
